nav{
    text-align: center;
}

header{
    background-color: aqua;
}

*{
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.dropdown-menu{
    display:none;
    background-color: aqua;
}

.dropdown-menu li a{
    width: 100px;
    display: block;
}